.top-players-container {
  width: 84%;
  max-height: 500px;
  /* 최대 높이 설정 */
  overflow: auto;
  /* 스크롤바 표시 */
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.top-scores-table,
.top-assists-table {
  /* 테이블 스타일 */
  width: 100%;
  /* 테이블 전체 폭을 조절하세요 */
  height: 100%;
  /* 원하는 스타일을 지정하세요 */
}

.button-group {
  position: sticky;
  top: 0;
  background-color: white;
}

.table-container {
  flex-grow: 1;
  overflow: auto;
}