.team-info-container {
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .team-logo {
    flex: 1;
    text-align: center;
    margin-right: 20px;
  }
  
  .team-logo img {
    width: 250px;
    height: 200px;
  }
  
  .team-details {
    flex: 2;
  }
  