.team-squad-container {
  max-height: 400px;
  overflow-y: scroll; /* 스크롤 바를 항상 표시하도록 변경 */
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  margin-right: 20px;
}

.team-squad-container::-webkit-scrollbar {
  width: 0; /* Chrome 및 Safari에서 스크롤 바 숨기기 */
  display: none;
}

.table-containerts {
  margin-top: -30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.table-headerts {
  background-color: #f2f2f2;
  font-size: 20px;
  text-align: center; /* 텍스트 가운데 정렬 추가 */
  padding: 10px;
}


table, th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* 헤더 행 스타일 */
thead tr {
  background-color: #f2f2f2;
}

/* 홀수 행 스타일 */
tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

/* 마우스 호버 시 행 강조 */
tbody tr:hover {
  background-color: #e0e0e0;
}
