/* Quadrants.css 파일 */

/* 화면 전체를 가득 채우도록 설정 */
body,
html {
  height: 100%;
  margin: 0;
  overflow: auto;
}

/* Quadrants 컨테이너 스타일 */
.container {
  display: flex;
  height: 100vh;
  overflow: auto;
}

/* 왼쪽 절반 (Space1) */
.container> :first-child {
  flex: 1;
}

/* 오른쪽 절반 (Space2와 Space3로 나눔) */
.container> :last-child {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* 위쪽 절반 (Space2) */
.container> :last-child> :first-child {
  flex: 1;
}

/* 아래쪽 절반 (Space3) */
.container> :last-child> :last-child {
  flex: 1;
}

.quadrant {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  /* 각 사분면의 크기를 고정하세요 */
  width: 100%;
  height: 100%;
  /* 2px는 사분면 간의 간격입니다. 조절 가능합니다. */
  border: 1px solid #000;
  /* 사분면 간의 경계선을 추가합니다. 선택적으로 사용하세요. */
  overflow: auto;
  /* 스크롤 가능하도록 설정 */
}