/* HotPost.css */
.custom-link {
    text-decoration: none;
    color: #333;
  }
  
  .post-list-container {
    text-align: center; /* Center align the title */
    padding: 10px; /* Add padding for spacing */
    border: 1px solid #ccc; /* Add a border around the container */
    border-radius: 5px; /* Rounded corners */
    margin-top: 50px;
  }
  
  .post-list-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .post-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* Stack list items vertically */
    align-items: flex-start; /* Align list items to the left */
  }
  
  .post-item {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #f7f7f7;
    width: 400px; /* Set a fixed width for all list items */
    margin-left: 20px; /* Add left margin as per your preference */
    padding-left: 20px; /* Add left padding for list item numbers */
    display: flex; /* Enable flex layout for list items */
    align-items: center; /* Center-align vertically */
  }
  
  .post-title {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .post-details {
    font-size: 0.9rem;
  }
  
  .post-likes-dislikes {
    font-size: 0.8rem;
  margin-top: 5px;
}