/* Chat Container */
.chat-container {
    display: flex;
    flex-direction: row;
    margin: 20px;
    width: 500px;
    /* Adjust the width as needed */
}

/* Room List */
.room-list {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-right: 20px;
    overflow: auto;
}

/* Chat Room */
.chat-room {
    flex: 3;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

/* Chat Header */
.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #0078d4;
    color: #fff;
}

.chat-header h2 {
    margin: 0;
}

.chat-header button {
    background-color: #ff5050;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Messages */
.messages {
    padding: 10px;
    overflow-y: scroll;
    max-height: 400px;
}

/* Message Bubbles */
.message {
    padding: 5px 10px;
    margin: 5px 0;
    word-break: break-all;
}

/* Your Messages */
.my-message {
    text-align: right;
    background-color: #0078d4;
    color: #fff;
    border-radius: 5px 5px 0 5px;
    margin-left: auto;
}

/* Others' Messages */
.other-message {
    text-align: left;
    background-color: #f2f2f2;
    border-radius: 5px 5px 5px 0;
    margin-right: auto;
}

/* Input Container */
.input-container {
    display: flex;
    padding: 10px;
    background-color: #f2f2f2;
}

.input-container input {
    flex: 1;
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.input-container button {
    background-color: #0078d4;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}